extends master-template
block content
  .container
    .col-md-12.page
      .row
        .col-md-8
          h3 Rezultati pretrage
          for location in results
            .col-md-4
              .panel.panel-default
                .panel-body
                  img.img-responsive(src='#{baseUrl}/#{location['location_image']}', alt='')
                  a(href='#{baseUrl}/location/#{location['location_id']}')
                    h2 #{location['location_name']}
                  p #{location['location_desc']}
        .col-md-4
          .panel.panel-default
            .panel-body
                .col-md-12
                  h3 Pretraži lokacije
                    small Pronađi savršen odmor za sebe
                  form(action='#{baseUrl}/search/results', method='post')
                    p Traži po nazivu
                      input.form-control(type='text', name='bytitle', placeholder='naziv lokacije')
                    p Ili po vrsti odmora
                      select.form-control(name='bycat')
                        option(value='') -
                         for category in categories
                           option(value='#{category['category_id']}') #{category['category_title']}
                    button(type='submit') Traži